@{
    ViewBag.Title = "工艺代码表单";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-6 am-form-item" data-table="Mes_Proce">
        <div class="am-form-item-title">工艺代码<font face="宋体">*</font>
        </div>
        <input id="R_Record" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    
    <div class="col-xs-6 am-form-item" data-table="Mes_Proce">
        <div class="am-form-item-title">名称<font face="宋体">*</font>
        </div>
        <input id="R_Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item">
        <div class="am-form-item-title">物料编码<font face="宋体">*</font></div>
        <div id="R_GoodsCode" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item">
        <div class="am-form-item-title">物料名称</div>
        <input id="B_GoodsName" type="text" class="form-control" disabled="disabled" />
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/ProceManager/Form.js")
