@{
    ViewBag.Title = "领料单";
    Layout = "~/Views/Shared/_GirdForm.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">领料单号</div>
        <input id="C_CollarNo" type="text" value="@ViewBag.RequireNo" class="form-control" disabled="disabled" style="background: #f1efef" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">原料仓库<font face="宋体">*</font></div>
        <div id="C_StockName" class="form-control" isvalid="yes" checkexpession="NotNull" d></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">原料仓编码</div>
        <input id="C_StockCode" type="text" class="form-control" disabled="disabled" style="background: #f1efef" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">领料仓库<font face="宋体">*</font></div>
        <div id="C_StockToName" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">领料仓编码</div>
        <input id="C_StockToCode" type="text" class="form-control" disabled="disabled" style="background: #f1efef" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead" hidden="hidden">
        <div class="am-form-item-title">生产订单号<font face="宋体">*</font></div>
        <div id="P_OrderNo" class="form-control" isvalid="yes" checkexpression="NotNull"></div>
        <input type="hidden" id="P_OrderDate">
    </div>
    @*<div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">班组编号</div>
        <input id="C_TeamCode" type="text" class="form-control" disabled="disabled" style="background: #f1efef" />
    </div>*@
    @*<div class="col-xs-6 am-form-item" data-table="Mes_InPrice">
        <div class="am-form-item-title">班组<font face="宋体">*</font></div>
        <div id="C_TeamCode" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>*@
    <div class="col-xs-12 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title"></div>
        <a id="am_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;添加订单物料</a>
    </div>
   
    <div class="col-xs-12 am-form-item am-form-item-grid">
        <div id="Mes_CollarDetail"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/PickingMater/Form.js")
