* {
    padding: 0;
    margin: 0;
}

body {
    background: #FFF;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: .9rem;
}

.content_box {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}

.bg_box {
    width: 100%;
    position: relative;
}

.bg_box img {
    width: 100%;
    height: 100%;
    display: block;
}

.jt_title {
    position: absolute;
    bottom: -6rem;
    width: 100%;
}

.bg_box .jt_box {
    width: 90%;
    /*padding: .5rem 0;*/
    margin: 0 auto;
    background: #fff;
    box-shadow: #ccc 0px 0px 10px;
    border-radius: .5rem;
    height:7rem;
}

.none_info{
    text-align:center;
    margin-top:1.5rem;
    color:#58C2FD;
}
.watting_info {
    text-align:center;
    margin-top:.9rem;
}

.watting_info .info_red{
    color:#f00;
    font-weight:600;
    font-size:1.3rem;
}

.watting_info .info_grad{
    color:#555;
    font-size:.9rem;
    margin-top:.5rem;
}

.jt_box .jt_time{
    text-align:center;
    font-size:.9rem;
    padding:.1rem 0;
}

.jt_title .jt_tetx {
    text-align: center;
    padding:0.5rem;
    font-size: .9rem;
}

.jt_title .per_text {
    color: #F28E0D;
}

.jt_title .per_info {
    text-align: center;
    color: #F28E0D;
}

.jt_title .per_time {
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.list_box {
    margin-top: 6.5rem;
}

.mui-table-view:before,.mui-table-view:after{
    height:0;
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
    margin-top:0;
    margin-bottom:.4rem;
}

.mui-table-view.mui-grid-view {
    padding: 0 4px 10px 0;
}

.img_box .img_box{
    width:100%!important;
    max-width:100%!important;
}

.copyright {
    font-size: .5rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0 .5rem 0;
    color: #999;
}


/*Æô¶¯Ò³*/
.begin_box {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background: url("https://aymaoto.jtlf.cn/Content/MiniProgram/images/hd_bg.jpg") no-repeat;
    background-size: 100% 100%;
}


.minute {
    color: #fff;
    text-align: center;
    padding:.2rem .3rem;
    border-radius: 5px;
    background:rgba(0,0,0,.2);
    position: fixed;
    right: 1rem;
    top: .5rem;
    width: 5rem;
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
    font-size:14px;
}