@{
    ViewBag.Title = "仓库列表";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-6 am-form-item"  data-table="Mes_Stock" >
        <div class="am-form-item-title">仓库编码<font face="宋体">*</font></div>
        <input id="S_Code" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Stock" >
        <div class="am-form-item-title">仓库名称<font face="宋体">*</font></div>
        <input id="S_Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Stock" >
        <div class="am-form-item-title">仓库类型<font face="宋体">*</font></div>
        <div id="S_Kind" isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Stock" >
        <div class="am-form-item-title">仓库负责人</div>
        <input id="S_Peson" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Stock" >
        <div class="am-form-item-title">备注</div>
        <input id="S_Remark" type="text" class="form-control"  />
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/StockList/Form.js")
