<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>京铁列服食品安全查询</title>
        <link href="~/Areas/MesDev/Views/Goods/css/css.css" rel="stylesheet" />
    </head>

    <body>
        <div class="box">
            <div class="cont">
                <h3>京铁列服食品安全查询</h3>
                <div class="logo">
                    <img src="~/Content/H5/images/body_s.jpg" alt="" />
                </div>
                <ul id="list">
                    <li>品&nbsp;&nbsp;&nbsp;名：<span>--</span></li>
                    <li> <p>配料表：</p> <span>--</span> <i id="show_alert">查看更多</i></li>
                    <li>生产日期：<span>--</span></li>
                    <li>生产商：<span>--</span></li>
                    <li>生产班组：<span>--</span></li>
                    <li>保质期：<span>--</span></li>
                    <li>生产时间：<span>--</span></li>
                    <li>产品执行标准：<span>--</span></li>
                    <li>贮存条件：<span>--</span></li>
                    <li>查询次数：<span>--</span></li>
                    <li>最后查询时间：<span>--</span></li>
                </ul>
                <footer>广州市爱码电子有限公司技术支持</footer>
            </div>
        </div>
        <div class="alerts-box">
            <div class="alerts">
                <p id="mag">你好</p>
                <div id="btn">知道了</div>
            </div>
        </div>
        <div class="ball-pulse-sync">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <script src="~/Content/H5/MES_JS/index.js"></script>
    </body>
</html>
