@{
    ViewBag.Title = "强制使用记录单据";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout" >
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <div class="am-searchtxt"></div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="am-query-formcontent">
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">仓库名称</div>
                                    <div id="C_StockName" type="text" class="form-control"></div>
                                </div>
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">车间名称</div>
                                    <div id="C_WorkShopName" type="text" class="form-control"></div>
                                </div>
                                @*<div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">状态</div>
                                    <div id="C_Status"></div>
                                </div>*@
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">物料名称</div>
                                    <div id="M_GoodsName" class="form-control"></div>
                                </div>
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">单据编号</div>
                                    <input id="C_No" type="text" class="form-control" />
                                </div>
                           <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">单据时间</div>
                                    <div id="area" class="col-xs-5 am-form-area">
                                        <input id="StartTime" type="text" class="form-control time" onfocus="WdatePicker({  maxDate: '#F{$dp.$D(\'EndTime\')}',dateFmt: 'yyyy-MM-dd' })" value="@DateTime.Now.AddDays(-6).ToString("yyyy-MM-dd")" isvalid="yes" checkexpession="NotNull" />
                                    </div>
                                    <div class="am-form-item-title" style="margin-left: 45%">至</div>
                                    <div class="col-xs-5" style="margin-left: 16%">
                                        <input id="EndTime" type="text" class="form-control time" onfocus="WdatePicker({  minDate: '#F{$dp.$D(\'StartTime\')}',dateFmt: 'yyyy-MM-dd' })" value="@DateTime.Now.ToString("yyyy-MM-dd")" isvalid="yes" checkexpession="NotNull" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="am_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" ayma-authorize="yes">
                        <a id="am_print" class="btn btn-default"><i class="fa fa-print"></i>&nbsp;打印</a>
                        <a id="am_add"   class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        <a id="am_edit"  class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;查看详情</a>
                    </div>
                </div>
            </div>
            <div class="am-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/CompUseHead/SearchIndex.js")
