@{
    ViewBag.Title = "篮子毛重列表";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-12 am-form-item"  data-table="Mes_Basket" >
        <div class="am-form-item-title">编码</div>
        <input id="B_BasketCode" type="text" class="form-control" placeholder="编号自动生成" disabled="disabled" />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_Basket" >
        <div class="am-form-item-title">名称<font face="宋体">*</font></div>
        <input id="B_BasketName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_Basket" >
        <div class="am-form-item-title">毛重(KG)<font face="宋体">*</font></div>
        <input id="M_Weight" type="number" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/BasketList/Form.js")
