@{
    ViewBag.Title = "排班管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-6 am-form-item"  data-table="Mes_Class" >
        <div class="am-form-item-title">编码 <font face="宋体">*</font></div>
        <input id="C_Code" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Class" >
        <div class="am-form-item-title">名称<font face="宋体">*</font></div>
        <input id="C_Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Class" >
        <div class="am-form-item-title">开始时间<font face="宋体">*</font></div>
        <input id="C_StartTime" type="text" class="form-control am-input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'HH:mm:ss' })" value="@DateTime.Now.ToString("00:00:00")" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Class" >
        <div class="am-form-item-title">结束时间<font face="宋体">*</font></div>
        <input id="C_EndTime" type="text" class="form-control am-input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'HH:mm:ss' })" value="@DateTime.Now.ToString("00:00:00")" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Class" >
        <div class="am-form-item-title">备注</div>
        <input id="C_Remark" type="text" class="form-control"  />
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/ClassManager/Form.js")
