@{
    ViewBag.Title = "操作记录查询";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout" >
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <div class="am-searchtxt">创建时间</div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="am-query-formcontent">
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">仓库编号</div>
                                    <input id="F_StockCode" type="text" class="form-control"/>
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">仓库名称</div>
                                    <div id="F_StockName" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">单据类型</div>
                                    <input id="F_BillType" type="text" class="form-control"/>
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">操作类型</div>
                                    <select id="F_OperationType" class="form-control">
                                        <option value="">==请选择==</option>
                                        <option value="删除单据">删除单据</option>
                                        <option value="提交单据">提交单据</option>
                                        <option value="撤销单据">撤销单据</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">操作单号</div>
                                    <input id="F_OrderNo" type="text" class="form-control"/>
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">创建人</div>
                                    <input id="F_CreateUserName" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="am_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" ayma-authorize="yes">
                    </div>
                </div>
            </div>
            <div class="am-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/DocumentsMakeLogSeach/Index.js")
