body {
}
h3,
ul {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    overflow: auto;
    background-image: url('../img/body_s.jpg');
    background-size: 100% 100%;
}

.logo {
    width: 100%;
    height: auto;
}

.logo img {
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

.cont {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.cont>h3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: normal;
    padding: 15px 0;
    margin-bottom: 8px;
    background: #fff;
    box-shadow: 0px 2px 5px #7d7b7b;
    border-bottom: 1px solid #ccc;
}

.cont>ul {
    /* width:100%; */
    /* height: 100%; */
    padding: 10px;
    /*background:#fff;*/
    border-radius: 5px;
    /* box-sizing:border-box; */
}

.cont>ul>li {
    list-style: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cont>ul>li:nth-of-type(2)>span {
    /* display: inline-block; */
    float: left;
    width: 60%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cont>ul>li:nth-of-type(2)>p {
    display: inline;
    float: left;
    width: auto;
    height: 100%;
    margin-top: 0px;
}

.cont>ul>li:nth-of-type(2)>i {
    /* display: inline-block; */
    color: #3385ff;
    float: left;
}

.cont>ul>li:last-child {
    border-bottom: none;
}

.alerts-box {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -999;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}

.alerts {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    overflow: hidden;
    width: 100%;
    height: 0%;
    background: #fff;
    transition: all 0.5s;
}

#mag {
    width: 100%;
    height: 85%;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    line-height: 26px;
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
    /* background:red; */
}

#btn {
    width: 100%;
    height: 15%;
    display: flex;
    color: #2196f3;
    align-items: center;
    justify-content: center;
}


.ball-pulse-sync {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.5s;
    transform: scale(1);
}

.ball-pulse-sync>div:nth-child(1) {
    -webkit-animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}

.ball-pulse-sync>div:nth-child(2) {
    -webkit-animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
}

.ball-pulse-sync>div:nth-child(3) {
    -webkit-animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}

.ball-pulse-sync>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}

@keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    66% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media screen and (max-width:830px) {
    .cont {
        width: 100%;
        height: 100%;
    }
}

footer {
    position: relative;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 10px;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #333;
}

/* @media screen and (max-width:320px){
    .cont > ul > li:nth-of-type(2) > span{
        display: inline-block;
        float: left;
        max-width:30%;
        height: 100%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
} */