@{
    ViewBag.Title = "商品列表";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout">
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="物料编码/物料名称" style="width: 230px;"/>
                        <a id="am_btn_querySearch" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                    </div>
                    <div class="am-layout-tool-item">
                        <label class="text text-info" style="color: red">Tip：请优先选择最早的批次</label>
                    </div>
                </div>
                <div class="am-layout-tool-right">
                    <div class="col-xs-12 am-form-item">
                        <div class="am-form-item-title" style="width: 140px; left: -130px;">入库数量一键设置：</div>
                        <div class="am-form-item-title">
                            <input type="number" id="quantity" class="form-control" style="height: 25px;margin-top: 5px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/MaterInBill/GoodsListIndex.js")
