@{
    ViewBag.Title = "入库单制作";
    Layout = "~/Views/Shared/_GirdForm.cshtml";
}
<style>
    .jfgrid-data-cell {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
</style>
<div class="am-form-wrap" id="form">
    <div class="col-xs-6 am-form-item"  data-table="Mes_MaterInHead" >
        <div class="am-form-item-title">入库单号<font face="宋体">*</font></div>
        <input id="M_MaterInNo" type="text" class="form-control" value="@ViewBag.OrderNo" isvalid="yes" checkexpession="NotNull" disabled="disabled" style="background: #f1efef" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_MaterInHead">
        <div class="am-form-item-title">仓库编码<font face="宋体">*</font></div>
        <div id="M_StockCode" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_MaterInHead" >
        <div class="am-form-item-title">仓库名称<font face="宋体">*</font></div>
        <input id="M_StockName" type="text" class="form-control" disabled="disabled" style="background: #f1efef" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_MaterInHead" >
        <div class="am-form-item-title">生产订单号<font face="宋体">*</font></div>
        <input id="M_OrderNo" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_MaterInHead" >
        <div class="am-form-item-title">订单时间<font face="宋体">*</font></div>
        <input id="M_OrderDate" type="text" class="form-control am-input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" isvalid="yes" checkexpession="NotNull" />
        <input id="M_Batch" type="hidden" value="@DateTime.Now.ToString("yyyyMMdd")" class="form-control" />
    </div>
   
    <div class="col-xs-6 am-form-item" data-table="Mes_MaterInHead">
        <div class="am-form-item-title">状态</div>
        <div id="M_Status" class="form-control" disabled="disabled"></div>

    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_MaterInHead">
        <div class="am-form-item-title">备注</div>
        <input id="M_Remark" type="text" class="form-control"/>
    </div>
    <div class="col-xs-12 am-form-item" data-table="Mes_RequistHead">
        <div class="am-form-item-title"></div>
        <a id="am_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;添加商品</a>
    </div>
    <div class="col-xs-12 am-form-item am-form-item-grid">
        <div id="Mes_MaterInDetail"></div>
    </div>

</div>
@Html.AppendJsFile("/Areas/MesDev/Views/MaterInBill/ProductForm.js")
