@{
    ViewBag.Title = "门列表";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-6 am-form-item"  data-table="Mes_Door" >
        <div class="am-form-item-title">门编码</div>
        <input id="D_Code" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Door" >
        <div class="am-form-item-title">门名称</div>
        <input id="D_Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Door" >
        <div class="am-form-item-title">备注</div>
        <input id="D_Remark" type="text" class="form-control"  />
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/DoorList/Form.js")
