@{
    ViewBag.Title = "供应商列表";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-6 am-form-item"  data-table="Mes_Supply" >
        <div class="am-form-item-title">供应商编码</div>
        <input id="S_Code" type="text" class="form-control" placeholder="系统自动生成" disabled="disabled" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Supply" >
        <div class="am-form-item-title">供应商名称<font face="宋体">*</font></div>
        <input id="S_Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Supply" >
        <div class="am-form-item-title">资质期限<font face="宋体">*</font></div>
        <input id="S_EffectTime" type="text" class="form-control am-input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" value="@DateTime.Now.ToString("yyyy-MM-dd 00:00:00")" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">联系人<font face="宋体">*</font></div>
        <input id="S_Person" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">联系电话<font face="宋体">*</font></div>
        <input id="S_Telephone" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">法人<font face="宋体">*</font></div>
        <input id="S_Corp" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">地址<font face="宋体">*</font></div>
        <input id="S_Address" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">税号</div>
        <input id="S_TaxCode" type="text" class="form-control"/>
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Supply" >
        <div class="am-form-item-title">资质1</div>
        <input id="S_Effect1" type="text" class="form-control" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">资质2</div>
        <input id="S_Effect2" type="text" class="form-control" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">资质3</div>
        <input id="S_Effect3" type="text" class="form-control" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">资质4</div>
        <input id="S_Effect4" type="text" class="form-control" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">资质5</div>
        <input id="S_Effect5" type="text" class="form-control" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Supply">
        <div class="am-form-item-title">备注</div>
        <input id="S_Remark" type="text" class="form-control" />
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/SupplyList/Form.js")
@Html.AppendJsFile("/Content/ueditor/third-party/webuploader/webuploader.js")
@Html.AppendJsFile("/Content/ueditor/third-party/webuploader/webuploader.css")