@{
    ViewBag.Title = "领料单查询";
    Layout = "~/Views/Shared/_GirdForm.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">单据编号</div>
        <input id="C_CollarNo" type="text" class="form-control" disabled="disabled" placeholder="系统自动生成" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">领料仓库<font face="宋体">*</font></div>
        <div id="C_StockToName" class="form-control" disabled="disabled"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">领料仓编码</div>
        <input id="C_StockToCode" type="text" class="form-control" disabled="disabled" />
    </div>

    <div class="col-xs-6 am-form-item" data-table="Mes_CollarHead">
        <div class="am-form-item-title">备注</div>
        <input id="C_Remark" type="text" class="form-control" disabled="disabled" />
    </div>
    <div class="col-xs-12 am-form-item am-form-item-grid">
        <div id="Mes_CollarDetail"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/PickingMaterQuery/Form.js")
