@{
    ViewBag.Title = "领料单查询";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout" >
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <div class="am-searchtxt">创建时间</div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="am-query-formcontent">
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">领料单号</div>
                                    <input id="C_CollarNo" type="text" class="form-control" />
                                </div>
                            <div class="col-xs-12 am-form-item">
                                <div class="am-form-item-title">领料库名</div>
                                <div id="C_StockToCode" type="text" class="form-control" >
                            </div>
                                </div>
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">物料名称</div>
                                    <div id="M_GoodsName" class="form-control"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="am_refresh" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    </div>
                    <div class=" btn-group btn-group-sm" ayma-authorize="yes">
                        <a id="am_detail" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;查看详情</a>                    
                        <a id="am_cancel" class="btn btn-default"><i class="fa fa-remove"></i>&nbsp;撤销单据</a>
                        <a id="am_print" class="btn btn-default"><i class="fa fa-print"></i>&nbsp;打印</a>
                    </div>
                </div>
            </div>
            <div class="am-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/PickingMaterQuery/Index.js")
