@{
    ViewBag.Title = "物料列表";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">

    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">
            商品名称<font face="宋体">*</font>
        </div>
        <input id="G_Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">
            商品编码
        </div>
        <input id="G_Code" type="text" class="form-control" placeholder="系统自动生成" disabled="disabled" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">
            商品类型<font face="宋体">*</font>
        </div>
        <div id="G_Kind" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">商品二级分类<font face="宋体">*</font></div>
        <div id="G_TKind" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>  
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods" id="prev_G_Erpcode" style="display: none">
        <div id="div_Erpcode" class="am-form-item-title">商品erp编码</div>
        <input id="G_Erpcode" type="text" class="form-control" />
    </div>   
    <div id="prev_G_Name" class="col-xs-6 am-form-item" data-table="Mes_Goods" style="display: none">
        <div class="am-form-item-title">供应商名称<font face="宋体">*</font></div>
        <div id="G_SupplyName" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div id="prev_G_Code" class="col-xs-6 am-form-item" data-table="Mes_Goods" style="display: none">
        <div class="am-form-item-title">供应商编码<font face="宋体">*</font></div>
        <input id="G_SupplyCode" type="text" class="form-control" disabled="disabled"/>
    </div> 
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">保质时间(天)<font face="宋体">*</font></div>
        <input id="G_Period" type="number" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods" style="display: none">
        <div class="am-form-item-title">价格<font face="宋体">*</font></div>
        <input id="G_Price" type="number" class="form-control" value="0" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">
            单位<font face="宋体">*</font>
        </div>
        <div id="G_Unit" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">包装单位<font face="宋体">*</font></div>
        <div id="G_Unit2" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div id="div_Prepareday" class="am-form-item-title">备用天数</div>
        <input id="G_Prepareday" type="number" class="form-control" />
    </div>
    @*<div class="col-xs-6 am-form-item" data-table="Mes_InPrice">
        <div class="am-form-item-title">领料班组<font face="宋体">*</font></div>
        <div id="G_TeamCode" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>*@
    <div class="col-xs-6 am-form-item" data-table="Mes_InPrice" id="prev_G_StockCode" style="display: none">
        <div class="am-form-item-title">入库仓库<font face="宋体">*</font></div>
        <div id="G_StockCode" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">
            是否自制<font face="宋体">*</font>
        </div>
        <div id="G_Self" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">
            是否在用<font face="宋体">*</font>
        </div>
        <div id="G_Online" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">包装规格<font face="宋体">*</font>
        </div>
        <input id="G_UnitQty" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"/>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div id="div_G_Lower" class="am-form-item-title">下限预警数量</div>
        <input id="G_Lower" type="number" class="form-control" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div id="div_G_Super" class="am-form-item-title">上限预警数量</div>
        <input id="G_Super" type="number" class="form-control" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">单位重量</div>
        <input id="G_UnitWeight" type="number" class="form-control" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">销售税率(%)</div>
        <input id="G_Otax" type="number" class="form-control" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">购进税率(%)</div>
        <input id="G_Itax" type="number" class="form-control" />
    </div>
    <div id="prev_div" class="col-xs-6 am-form-item" data-table="Mes_Goods" style="display: none">
        <div class="am-form-item-title">商品条码<font face="宋体">*</font></div>
        <div id="G_Barcode" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">备注</div>
        <input id="G_Remark" type="text" class="form-control" />
    </div>

</div>
@Html.AppendJsFile("/Areas/MesDev/Views/GoodsList/Form.js")
