@{
    ViewBag.Title = "生成订单制作";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout" >
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <div class="am-searchtxt">订单时间</div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="am-query-formcontent">
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">订单时间</div>
                                    <input id="P_OrderDate" type="text" class="form-control" />
                                </div>
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">生产订单号</div>
                                    <input id="P_OrderNo" type="text" class="form-control"/>
                                </div>
                                <div class="col-xs-12 am-form-item">
                                    <div class="am-form-item-title">出库单状态</div>
                                    <div id="P_Status"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="am_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" ayma-authorize="yes">
                        <a id="am_detail" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;查看详情</a>
                        <a id="am_cancel" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;撤销单据</a>
                    </div>
                </div>
            </div>
            <div class="am-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/ProductOrderMake/SearchIndex.js")
