@{
    ViewBag.Title = "物料转换对应表";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-6 am-form-item"  data-table="Mes_Convert" >
        <div class="am-form-item-title">物料名称<font face="宋体">*</font></div>
        <div id="C_Name" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Convert" >
        <div class="am-form-item-title">物料编码</div>
        <input id="C_Code" type="text" class="form-control" disabled="disabled" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Convert" >
        <div class="am-form-item-title">转换物料名称<font face="宋体">*</font></div>
        <div id="C_SecName" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Convert">
        <div class="am-form-item-title">转换物料编码</div>
        <input id="C_SecCode" type="text" class="form-control" disabled="disabled"/>
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Convert" >
        <div class="am-form-item-title">工序名称<font face="宋体">*</font></div>
        <div id="C_ProName" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Convert" >
        <div class="am-form-item-title">工序号</div>
        <input id="C_ProNo" type="text" class="form-control" disabled="disabled" />
    </div>
    <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">最大转化率<font face="宋体">*</font>
        </div>
        <input id="C_Max" type="number" class="form-control" isvalid="yes" checkexpession="NotNull"/>
    </div>
     <div class="col-xs-6 am-form-item" data-table="Mes_Goods">
        <div class="am-form-item-title">最小转化率<font face="宋体">*</font></div>
         <input id="C_Min" type="number" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 am-form-item"  data-table="Mes_Convert" >
        <div class="am-form-item-title">备注</div>
        <input id="C_Remark" type="text" class="form-control"  />
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/Convert/Form.js")
