@{
    ViewBag.Title = "历史库存查询";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="am-form-wrap" id="form">
    <div class="col-xs-12 am-form-item"  data-table="Mes_InventoryLS" >
        <div class="am-form-item-title">库存时间</div>
        <input id="I_Date" type="text" class="form-control"  />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_InventoryLS" >
        <div class="am-form-item-title">仓库编码</div>
        <input id="I_StockCode" type="text" class="form-control"  />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_InventoryLS" >
        <div class="am-form-item-title">仓库名称</div>
        <input id="I_StockName" type="text" class="form-control"  />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_InventoryLS" >
        <div class="am-form-item-title">物料编码</div>
        <input id="I_GoodsCode" type="text" class="form-control"  />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_InventoryLS" >
        <div class="am-form-item-title">物料名称</div>
        <input id="I_GoodsName" type="text" class="form-control"  />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_InventoryLS" >
        <div class="am-form-item-title">单位</div>
        <input id="I_Unit" type="text" class="form-control"  />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_InventoryLS" >
        <div class="am-form-item-title">旧的库存数量</div>
        <input id="I_OldQty" type="text" class="form-control"  />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_InventoryLS" >
        <div class="am-form-item-title">数量</div>
        <input id="I_Qty" type="text" class="form-control"  />
    </div>
    <div class="col-xs-12 am-form-item"  data-table="Mes_InventoryLS" >
        <div class="am-form-item-title">批次</div>
        <input id="I_Batch" type="text" class="form-control"  />
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/InventoryLSSeach/Form.js")
