@{
    ViewBag.Title = "历史库存查询";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout" >
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <div class="am-searchtxt">库存时间</div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="am-query-formcontent">
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">仓库编码</div>
                                    <input id="I_StockCode" type="text" class="form-control"/>
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">仓库名称</div>
                                    <input id="I_StockName" type="text" class="form-control"/>
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">物料编码</div>
                                    <input id="I_GoodsCode" type="text" class="form-control"/>
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">物料名称</div>
                                    <input id="I_GoodsName" type="text" class="form-control"/>
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">批次</div>
                                    <input id="I_Batch" type="text" class="form-control" placeholder="格式:yyyyMMdd(20190101)"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="am_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" ayma-authorize="yes">
                        <a id="am_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;查看详情</a>
                    </div>
                </div>
            </div>
            <div class="am-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/InventoryLSSeach/Index.js")
