@{
    ViewBag.Title = "原物料统计(入库、出库、次品)";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="am-layout">
    <div class="am-layout-center">
        <div class="am-layout-wrap am-layout-wrap-notitle">
            <div class="am-layout-tool">
                <div class="am-layout-tool-left">
                    <div class="am-layout-tool-item">
                        <div class="am-searchtxt"></div>
                       @*请选择时间： <input id="Date" type="text" class="form-control am-input-wdatepicker" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd 00:00:00'})" value="@DateTime.Now.ToString("yyyy-MM-dd 00:00:00")" isvalid="yes" checkexpession="NotNull" />*@
                        <div class="am-searchtxt">创建时间</div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="am-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="am-query-formcontent">
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">商品编码</div>
                                    <input id="M_GoodsCode" type="text" class="form-control" />
                                </div>
                                <div class="col-xs-6 am-form-item">
                                    <div class="am-form-item-title">商品名称</div>
                                    <input id="M_GoodsName" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-layout-tool-item"><label class="label label-info" style="color: #ff0000;font-size:10px">双击行查看明细</label></div>
                </div>
                <div class="am-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="am_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                        <a id="am_export" class="btn btn-default"><i class="fa fa-sign-out"></i>&nbsp;导出Excel</a>
                    </div>
                </div>
            </div>
            <!--分tab显示-->
            <ul id="pageTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#page_sum" data-toggle="tab">汇总</a>
                </li>
                <li>
                    <a href="#page_detail" data-toggle="tab">入库明细</a>
                </li>
                <li>
                    <a href="#page_Outbounddetails" data-toggle="tab">出库明细</a>
                </li>
                <li>
                    <a href="#page_withdrawingdetails" data-toggle="tab">退库明细</a>
                </li>
                <li>
                    <a href="#page_materialssales" data-toggle="tab">原物料销售明细</a>
                </li>
                <li>
                    <a href="#page_scrapnumber" data-toggle="tab">报废数量明细</a>
                </li>
                <li>
                    <a href="#page_other" data-toggle="tab">其它入库明细</a>
                </li>
                <li>
                    <a href="#page_otherout" data-toggle="tab">其它出库明细</a>
                </li>
                <li>
                    <a href="#page_supplierback" data-toggle="tab">退供应商明细</a>
                </li>
            </ul>
            <div id="pageTabContent" class="tab-content" style="width: 100%;height: 100%">
                <div class="tab-pane fade in active" id="page_sum" style="width: 100%;height: 100%">
                    <div class="am-layout-body" id="girdtable_sum"></div>
                </div>
                <div class="tab-pane fade" id="page_detail" style="width: 100%;height: 100%">
                    <div class="am-layout-body" id="girdtable_detail"></div>
                </div>
                <div class="tab-pane fade" id="page_Outbounddetails" style="width: 100%;height: 100%">
                    <div class="am-layout-body" id="girdtable_Outbounddetails"></div>
                </div>
                <div class="tab-pane fade" id="page_withdrawingdetails" style="width: 100%;height: 100%">
                    <div class="am-layout-body" id="girdtable_withdrawingdetails"></div>
                </div>
                <div class="tab-pane fade" id="page_materialssales" style="width: 100%;height: 100%">
                    <div class="am-layout-body" id="girdtable_materialssales"></div>
                </div>
                <div class="tab-pane fade" id="page_scrapnumber" style="width: 100%;height: 100%">
                    <div class="am-layout-body" id="girdtable_scrapnumber"></div>
                </div>
                <div class="tab-pane fade" id="page_other" style="width: 100%;height: 100%">
                    <div class="am-layout-body" id="girdtable_other"></div>
                </div>
                <div class="tab-pane fade" id="page_otherout" style="width: 100%;height: 100%">
                    <div class="am-layout-body" id="girdtable_otherout"></div>
                </div>
                <div class="tab-pane fade" id="page_supplierback" style="width: 100%;height: 100%">
                    <div class="am-layout-body" id="girdtable_supplierback"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/MesDev/Views/MaterialsSum/MoneyIndex.js")
